In [3]:
#Import the necessary modules
from pyspark.sql import SparkSession

In [2]:
!pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.4.0.tar.gz (310.8 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 310.8/310.8 MB 3.0 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.4.0-py2.py3-none-any.whl size=311317130 sha256=c2dfd5dec52ae9e2f7b0545ee8acb9914ec77856c1d77bd5224b8c7a5de90054
  Stored in directory: /root/.cache/pip/wheels/7b/1b/4b/3363a1d04368e7ff0d408e57ff57966fcdf00583774e761327
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.4.0

In [4]:
#Create a SparkSession
spark = SparkSession.builder \
    .appName("CSV and Excel Reader") \
    .getOrCreate()

In [5]:
csv_file_path = "/content/titanic_test.csv"
csv_df = spark.read.format("csv") \
    .option("header", "true") \
    .option("inferSchema", "true") \
    .load(csv_file_path)
csv_df.show()

+------------+------+--------------------+------+------+-----+-----+----------------+--------+-----+--------+----+-----+--------------------+
|passenger_id|pclass|                name|   sex|   age|sibsp|parch|          ticket|    fare|cabin|embarked|boat| body|           home.dest|
+------------+------+--------------------+------+------+-----+-----+----------------+--------+-----+--------+----+-----+--------------------+
|         295|     1|Thayer, Mr. John ...|  male|  17.0|    0|    2|           17421|110.8833|  C70|       C|   B| null|       Haverford, PA|
|        1150|     3|Risien, Mr. Samue...|  male|  null|    0|    0|          364498|    14.5| null|       S|null| null|                null|
|          89|     1|Davidson, Mr. Tho...|  male|  31.0|    1|    0|      F.C. 12750|    52.0|  B71|       S|null| null|        Montreal, PQ|
|        1063|     3|Nirva, Mr. Iisakk...|  male|  41.0|    0|    0|SOTON/O2 3101272|   7.125| null|       S|null| null| Finland Sudbury, ON|
|        1020|     3|  Minkoff, Mr. Lazar|  male|  21.0|    0|    0|          349211|  7.8958| null|       S|null| null|                null|
|         747|     3|Danbom, Master. G...|  male|0.3333|    0|    2|          347080|    14.4| null|       S|null| null|         Stanton, IA|
|         368|     2|Chapman, Mr. John...|  male|  37.0|    1|    0|     SC/AH 29037|    26.0| null|       S|null| 17.0|Cornwall / Spokan...|
|        1047|     3|"Najib, Miss. Ade...|female|  15.0|    0|    0|            2667|   7.225| null|       C|   C| null|                null|
|         569|     2|Sweet, Mr. George...|  male|  14.0|    0|    0|          220845|    65.0| null|       S|null| null|Somerset / Bernar...|
|         232|     1|Porter, Mr. Walte...|  male|  47.0|    0|    0|          110465|    52.0| C110|       S|null|207.0|       Worcester, MA|
|         365|     2|Carter, Mrs. Erne...|female|  44.0|    1|    0|          244252|    26.0| null|       S|null| null|              London|
|         351|     2|Brown, Mr. Thomas...|  male|  60.0|    1|    1|           29750|    39.0| null|       S|null| null|Cape Town, South ...|
|         535|     2|Phillips, Mr. Esc...|  male|  43.0|    0|    1|     S.O./P.P. 2|    21.0| null|       S|null| null|   Ilfracombe, Devon|
|         287|     1|Sutton, Mr. Frede...|  male|  61.0|    0|    0|           36963| 32.3208|  D50|       S|null| 46.0|     Haddenfield, NJ|
|         767|     3|Demetri, Mr. Marinko|  male|  null|    0|    0|          349238|  7.8958| null|       S|null| null|                null|
|         528|     2|"Parkes, Mr. Fran...|  male|  null|    0|    0|          239853|     0.0| null|       S|null| null|             Belfast|
|         430|     2|"Harper, Miss. An...|female|   6.0|    0|    1|          248727|    33.0| null|       S|  11| null|Denmark Hill, Sur...|
|          60|     1|Cavendish, Mr. Ty...|  male|  36.0|    1|    0|           19877|   78.85|  C46|       S|null|172.0|Little Onn Hall, ...|
|        1212|     3|Slabenoff, Mr. Petco|  male|  null|    0|    0|          349214|  7.8958| null|       S|null| null|                null|
|         462|     2|Jefferys, Mr. Cli...|  male|  24.0|    2|    0|      C.A. 31029|    31.5| null|       S|null| null|Guernsey / Elizab...|
+------------+------+--------------------+------+------+-----+-----+----------------+--------+-----+--------+----+-----+--------------------+
only showing top 20 rows

In [12]:
csv_output_path = "/content/titanic.csv"
csv_df.write.format("csv") \
    .option("header", "true") \
    .mode("overwrite") \
    .save(csv_output_path)
print("saved")

saved

# To perform CRUD 
(Create, Read, Update, Delete) operations in a SQL Server database using PySpark, you can utilize the JDBC API provided by PySpark. Here's an overview of how you can execute each of the CRUD operations:

In [13]:
from pyspark.sql import SparkSession

In [14]:
spark = SparkSession.builder \
    .appName("SQL Server CRUD") \
    .getOrCreate()

In [ ]:
jdbc_url = "jdbc:sqlserver://<server_name>:<port>;databaseName=<database_name>"
connection_properties = {
    "user": "<username>",
    "password": "<password>",
    "driver": "com.microsoft.sqlserver.jdbc.SQLServerDriver"
}

Create (INSERT) operation:

In [ ]:
# Create a DataFrame with the data to be inserted
data = [("John", 25), ("Alice", 30)]
columns = ["name", "age"]
df = spark.createDataFrame(data, columns)

# Write the DataFrame to the SQL Server table
table_name = "your_table_name"
df.write.jdbc(url=jdbc_url,
              table=table_name,
              mode="append",
              properties=connection_properties)

# Read (SELECT) operation

In [ ]:
# Read data from the SQL Server table
table_name = "your_table_name"
df = spark.read.jdbc(url=jdbc_url,
                     table=table_name,
                     properties=connection_properties)

# Perform operations on the DataFrame
df.show()

# Update (UPDATE) operation:

In [ ]:
# Perform the update operation
table_name = "your_table_name"
condition = "age > 30"
new_age = 40
df.where(condition).withColumn("age", new_age).write.jdbc(url=jdbc_url,
                                                           table=table_name,
                                                           mode="overwrite",
                                                           properties=connection_properties)

# Delete (DELETE) operation

In [ ]:
# Perform the delete operation
table_name = "your_table_name"
condition = "name = 'John'"
df.where(condition).write.jdbc(url=jdbc_url,
                               table=table_name,
                               mode="delete",
                               properties=connection_properties)